.countrylist-container a {
  text-decoration: none;
  color: inherit;
}

form.country-filter {
  padding: 1em;
}

@media only screen and (min-width: 600px) {
  .countrylist-container {
    margin: auto;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 4em;
    row-gap: 4em;
  }
  .country-filter {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
}
